@import '../../scss/variables';

.table {
  min-height: 350px;
  background-color:#fff;
  max-width: 420px;
  width: calc(100% - 50px);
  margin-top: 20px;
  border-radius: 10px;
  // padding: 45px;
  max-height: 400px;
  overflow-y: auto;

  .list {
    margin: 45px;
    .list__element {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid $grey;
    }
  }

  
}